html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.center {
  min-width: 600px;
  max-width: 960px;
  margin: 0 auto; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

.fleft {
  float: left; }

body {
  background-color: whitesmoke;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #313132;
  font-size: .75em;
  font-weight: 300; }

#wrapper {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-top: 1px solid #dadada;
  background-color: #f0f0f0;
  margin-top: 28px;
  margin-bottom: 28px;
  overflow: hidden; }
  #wrapper #main {
    width: 66.667%; }
  #wrapper #sidebar {
    width: 33.333%; }

.info-text {
  margin: 24px 0 24px 10px;
  color: #999; }
  .info-text.as-dashboard-item {
    margin-left: 147px; }

.separator {
  border-top: 1px solid #527283;
  border-bottom: 2px solid #527283;
  border-left: 0;
  border-right: 0;
  margin: 0; }

.page-control {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeefee));
  background-image: -webkit-linear-gradient(#fafafa, #eeefee);
  background-image: -moz-linear-gradient(#fafafa, #eeefee);
  background-image: -o-linear-gradient(#fafafa, #eeefee);
  background-image: linear-gradient(#fafafa, #eeefee);
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada; }
  .page-control .page-control-inner {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dadada;
    height: 62px;
    position: relative; }
  .page-control ul {
    position: absolute;
    bottom: -6px;
    left: 18px; }
  .page-control li {
    display: inline-block; }
    .page-control li.active {
      background-color: #fff;
      -webkit-box-shadow: 0 0 5px rgba(34, 34, 34, 0.1);
      -moz-box-shadow: 0 0 5px rgba(34, 34, 34, 0.1);
      box-shadow: 0 0 5px rgba(34, 34, 34, 0.1);
      -webkit-border-radius: 2px 2px 0 0;
      -moz-border-radius: 2px 2px 0 0;
      -ms-border-radius: 2px 2px 0 0;
      -o-border-radius: 2px 2px 0 0;
      border-radius: 2px 2px 0 0; }
    .page-control li a {
      text-shadow: 1px 1px 1px white;
      display: block;
      padding: 13px 16px 14px;
      margin: 0 2px;
      font-size: 1.16em;
      color: #313132;
      text-decoration: none;
      font-weight: 600;
      vertical-align: bottom; }
      .page-control li a:hover {
        color: #d11344; }

#content {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background-color: #fff;
  position: relative;
  padding: 24px 19px; }

.dashboard-items li {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px;
  display: block;
  overflow: hidden; }
  .dashboard-items li.adopted {
    background-color: #fffde8; }
  .dashboard-items li.added {
    background-color: #e9fde9; }
.dashboard-items .post-image {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px #d4d4d4;
  -moz-box-shadow: 0 0 4px #d4d4d4;
  box-shadow: 0 0 4px #d4d4d4;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  padding: 3px;
  float: left;
  margin-right: 26px; }
.dashboard-items .icon-field {
  float: left;
  margin-right: 20px;
  line-height: 66px; }
.dashboard-items .post-desc .post-ago {
  color: #999;
  line-height: 22px; }
.dashboard-items .post-desc p {
  line-height: 22px;
  font-size: 1.08em; }
  .dashboard-items .post-desc p .place {
    color: #006699;
    font-weight: 600; }
  .dashboard-items .post-desc p .author {
    font-weight: 600; }

.icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px; }
  .icon.icon-activity {
    background: url(../images/icons/icon-eye.png) no-repeat;
    width: 16px;
    height: 9px; }
  .icon.icon-apply {
    background: url(../images/icons/icon-apply.png) no-repeat;
    width: 16px;
    height: 16px; }
  .icon.icon-settings {
    background: url(../images/icons/icon-settings.png) no-repeat;
    width: 16px;
    height: 16px; }
  .icon.icon-checked {
    background: url(../images/icons/icon-checked.png) no-repeat;
    width: 16px;
    height: 16px; }
  .icon.icon-edit {
    background: url(../images/icons/icon-edit.png) no-repeat;
    width: 16px;
    height: 16px; }
  .icon.icon-adopted {
    background: url(../images/icons/icon-adopted.png) no-repeat;
    width: 16px;
    height: 9px; }
  .icon.icon-add {
    background: url(../images/icons/icon-add.png) no-repeat;
    width: 16px;
    height: 16px; }

.badge {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: #fff;
  padding: 1px 6px;
  font-size: 0.9em; }
  .badge.badge-checked {
    text-shadow: 1px 1px 1px #bf9271;
    background-color: #f5ba90; }
  .badge.badge-small {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0.8em; }
  .badge.badge-number {
    background-color: #dce4e8;
    color: #006699; }
  .badge.badge-unchecked {
    text-shadow: 1px 1px 1px #8b8d8e;
    background-color: #b3b5b7; }
  .badge.badge-completed {
    text-shadow: 1px 1px 1px #7e9c63;
    background-color: #a4cc81; }

.module {
  margin-top: 30px; }
  .module .module-title {
    line-height: 46px;
    font-weight: 600;
    font-size: 1.5em;
    padding: 0 20px; }

/* Relics module */
.relics li {
  border-top: 1px solid #d3d5d6;
  padding: 18px;
  overflow: hidden;
  display: block; }
  .relics li .relic-image {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 4px #d4d4d4;
    -moz-box-shadow: 0 0 4px #d4d4d4;
    box-shadow: 0 0 4px #d4d4d4;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    padding: 3px;
    float: left;
    margin-right: 16px; }
  .relics li .relic-title {
    font-size: 1.17em;
    font-weight: 600;
    color: #006699;
    line-height: 28px;
    margin-bottom: 2px; }

img {
  max-width: 100%; }

@media all and (max-width: 800px) {
  .page-control ul {
    left: 8px; }

  .page-control li a {
    padding: 13px 6px 14px; } }
@media all and (max-width: 700px) {
  #wrapper {
    margin-top: 0;
    margin-bottom: 0; }
    #wrapper #main,
    #wrapper #sidebar {
      float: none;
      width: 100%; } }
@media all and (max-width: 600px) {
  .center {
    width: 100%;
    min-width: initial;
    max-width: initial; } }
@media all and (max-width: 500px) {
  .page-control .page-control-inner {
    height: auto; }
  .page-control ul {
    position: relative;
    bottom: auto;
    left: auto;
    text-align: center; }
    .page-control ul li {
      display: block; }
      .page-control ul li .icon {
        background: none; }

  #content {
    padding-left: 0;
    padding-right: 0; }

  .dashboard-items li {
    padding: 0; }
    .dashboard-items li .post-desc {
      width: 53%;
      float: left; } }
